# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# Test Reports
reports/

# Logs
logs/

# Screenshots
screenshots/

# VS Code
.vscode/

# Pytest Cache
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db
